<html><head>
  <title>rpc在线文档</title>
    <head>
        <style type="text/css">
            table,table tr th, table tr td { border:1px solid #0fefef }
            table { border-collapse: collapse; padding:2px;width: 88%}
            thead {background-color: deepskyblue}
        </style>
    </head>
<body>
<div>
    <h1 style="text-align: center">sfsdljfdslfjsdlfjdsj接口文档详情</h1>
    <hr>
</div>
<a name="xxxxxx"><h3>com.haven.simplej.demo.UserRpcService.get</h3></a>
<h4>功能：嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻</h4>
<h4>创建时间：嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻</h4>
<h4>作者：嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻</h4>
<table>
    <thead>
    <tr>
        <th colspan="6" style="text-align: left">请求参数</th>
    </tr>
    <tr>
        <td>参数名</td>
        <td>数据类型</td>
        <td>是否必填</td>
        <td>最大长度</td>
        <td>默认值</td>
        <td>描述</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>543534</td>
        <td>35345</td>
        <td>353</td>
        <td>56456</td>
        <td>46456</td>
        <td>4646</td>
    </tr>
    <tr>
        <td>543534</td>
        <td>35345</td>
        <td>353</td>
        <td>56456</td>
        <td>46456</td>
        <td>4646</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td>543534</td>
        <td>35345</td>
        <td>353</td>
        <td>56456</td>
        <td>46456</td>
        <td>4646</td>
    </tr>
    </tfoot>
</table>
<br>
<br>
<table>
    <thead>
    <tr>
        <th colspan="6" style="text-align: left">响应参数</th>
    </tr>
    <tr>
        <td>参数名</td>
        <td>数据类型</td>
        <td>是否必填</td>
        <td>最大长度</td>
        <td>默认值</td>
        <td>描述</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>543534</td>
        <td>35345</td>
        <td>353</td>
        <td>56456</td>
        <td>46456</td>
        <td>4646</td>
    </tr>
    <tr>
        <td>543534</td>
        <td>35345</td>
        <td>353</td>
        <td>56456</td>
        <td>46456</td>
        <td>4646</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td>543534</td>
        <td>35345</td>
        <td>353</td>
        <td>56456</td>
        <td>46456</td>
        <td>4646</td>
    </tr>
    </tfoot>
</table>

</body>
</html>
