<html xmlns:th="http://www.thymeleaf.org">
<!--头部-->
<head th:include="head :: htmlhead" th:with="title='管理平台'"></head>

<body>
<!--菜单-->
<aside th:replace="menu::htmlmenu">(htmlmenu)</aside>

<div class="Hui-admin-aside-mask"></div>
<div class="Hui-admin-dislpayArrow">
    <a href="javascript:void(0);" onClick="displaynavbar(this)">
        <i class="Hui-iconfont Hui-iconfont-left">&#xe6d4;</i>
        <i class="Hui-iconfont Hui-iconfont-right">&#xe6d7;</i>
    </a>
</div>
<!--主体-->
<section class="Hui-admin-article-wrapper">
    <!--导航-->
    <div th:replace="navbar :: navbar">(navbar)</div>
    <div th:replace="index-main::indexmain">(indexmain)</div>
</section>

<!--脚本-->
<div th:include="footer :: footer" id="footer">(footer)</div>

</body>
</html>
